# remove Python object
*.pyc
*.pyo
**/__pycache__

# remove pickle file
*.pck

# remove packinging files
dist/*
*.egg-info
PyPEEC/version.py

# exclude virtual env
venv/*
cenv/*

# exclude the PyCharm project
.idea/*

# exclude scratch directory for temporary tests
scratch/*
