# Script for defining the dependencies.
#
# Thomas Guillod
# (c) 2023 - Dartmouth College

# standard numpy and scipy
numpy>=1.24 # used everywhere
scipy>=1.9 # used everywhere

# high-performance libraries
scikit-umfpack>=0.3 # used by the solver, optional see config file
pyFFTW>=0.13 # used by the solver, optional see config file

# package for visualization
matplotlib>=3.6 # used by the viewer, and plotter
Pillow>=9.4 # used by the mesher
pyvista>=0.37 # used by the mesher, viewer, and plotter
pyvistaqt>=0.9 # used by the viewer, and plotter
QtPy>=2.3 # used by the viewer, and plotter
PyQt5>=5.15 # used by the viewer, and plotter
