# Definition of the Python Virtual Environment.
#
# (c) Thomas Guillod - Dartmouth College

# parsing files
PyYAML>=6.0 # YAML parser

# standard numpy and scipy
numpy>=1.24 # used everywhere
scipy>=1.9 # used everywhere

# package for visualization
Pillow>=9.4 # used by the mesher
matplotlib>=3.6 # used by the viewer, and plotter
vtk>=9.2 # used by the mesher, viewer, and plotter
pyvista>=0.37 # used by the mesher, viewer, and plotter
pyvistaqt>=0.9 # used by the viewer, and plotter
QtPy>=2.3 # used by the viewer, and plotter
PyQt5>=5.15 # used by the viewer, and plotter

# high-performance libraries (optional)
scikit-umfpack[HPC]>=0.3 # used by the solver, optional see config file
pyFFTW[HPC]>=0.13 # used by the solver, optional see config file
