# Definition of the Python Virtual Environment.
#
# WARNING: Only the required packages are in the environment.
#          The following optional libraries are not installed:
#              - FFTW, UMFPACK, PyAMG, and MKL/PARDISO
#              - Jupyter, IPyWidgets, and Trame
#              - CuPy and CUDA
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

# numerical libraries
numpy~=1.24.1
scipy~=1.14.1
joblib~=1.3.2

# geometry manipulation
vtk~=9.3.1
pyvista~=0.43.10
shapely~=2.0.4
rasterio~=1.3.10
Pillow~=10.4.0
