# PyPEEC options for the plotter renderings.
#
# A plot is described with a dictionary with the following fields:
#   - framework: framework used for the rendering ("pyvista" or "matplotlib")
#   - layout: string describing the plot type (see description below)
#   - data_window: dictionary describing the plot window
#   - data_options: dictionary describing the plot options
#   - data_plot: dictionary describing the plot content
#
# For the plotter, the following types of plots are available:
#
#   - "material": plot the different materials composing the voxel structures
#       - title: title located at the corner of the plot (null for hiding)
#       - color_electric: color of the electric domains
#       - color_magnetic: color of the magnetic domains
#       - color_electromagnetic: color of the electromagnetic domains
#       - color_current_source: color of the current source domains"
#       - color_voltage_source: color of the voltage source domains
#
#   - "norm_voxel": plot a scalar norm variable on the voxel structure
#   - "norm_point": plot a scalar norm variable on the point cloud
#       - title: title located at the corner of the plot (null for hiding)
#       - legend: legend of variable being shown with the color axis (null for hiding)
#       - var: name of the scalar norm variable to be plotted
#       - scale: scaling of the variable (scaling is done first)
#       - log: use (or not) a log scale for the color axis
#       - color_lim: limit range for the color axis (null for complete range)
#       - clamp_lim: clamping range for the color axis (null for complete range)
#       - filter_lim: hide voxels/points with values outside this range (null for complete range)
#       - point_size: size of the marker used for plotting on the point cloud
#
#   - "phasor_voxel": plot a scalar phasor variable on the voxel structure
#   - "phasor_point": plot a scalar phasor variable on the point cloud
#       - title: title located at the corner of the plot (null for hiding)
#       - legend: legend of variable being shown with the color axis (null for hiding)
#       - var: name of the scalar phasor variable to be plotted
#       - phase: phase to be considered for the phasor (in radian)
#       - scale: scaling of the variable (scaling is done first)
#       - log: use (or not) a log scale for the color axis
#       - color_lim: limit range for the color axis (null for complete range)
#       - clamp_lim: clamping range for the color axis (null for complete range)
#       - filter_lim: hide voxels/points with values outside this range (null for complete range)
#       - point_size: size of the marker used for plotting on the point cloud
#
#   - "arrow_voxel": plot a vector phasor variable on the voxel structure (arrow plot)
#   - "arrow_point": plot a vector phasor variable on the point cloud (arrow plot)
#       - title: title located at the corner of the plot (null for hiding)
#       - legend: legend of variable being shown with the color axis (null for hiding)
#       - var: name of the vector phasor variable to be plotted
#       - phase: phase to be considered for the phasor (in radian)
#       - scale: scaling of the variable (scaling is done first)
#       - log: use (or not) a log scale for the color axis
#       - color_lim: limit range for the color axis (null for complete range)
#       - clamp_lim: clamping range for the color axis (null for complete range)
#       - filter_lim: hide arrows with scalar values outside this range (null for complete range)
#       - arrow_threshold: relative threshold for hiding arrows with small scalar values
#       - arrow_scale: relative arrow length (with respect to the voxel size)
#
#   - "convergence": plot the convergence of the iterative matrix solver (matplotlib)
#       - title: title located at the top of the plot (null for hiding)
#       - color_active: color of the plot for the active power
#       - color_reactive: color of the plot for the reactive power
#       - marker: plot marker size
#       - width: line line width
#
#   - "convergence": plot the solver residuum histogram (matplotlib)
#       - title: title located at the top of the plot (null for hiding)
#       - bar_color: fill color of the bins
#       - edge_color: "edge color of the bins
#       - tol_bins: relative tolerance for the bin boundaries
#       - n_bins: number of bins for the residuum histogram
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

"material":
    "framework": "pyvista"
    "layout": "material"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Material"
        "color_electric": "darkorange"
        "color_magnetic": "gainsboro"
        "color_electromagnetic": "darkviolet"
        "color_current_source": "forestgreen"
        "color_voltage_source": "royalblue"
"V_c_norm":
    "framework": "pyvista"
    "layout": "norm_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Potential"
        "legend": "El. Potential [V]"
        "var": "V_c"
        "scale": 1.0
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"V_c_phasor":
    "framework": "pyvista"
    "layout": "phasor_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Potential"
        "legend": "El. Potential [V]"
        "var": "V_c"
        "phase": 0.0
        "scale": 1.0
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"P_c_norm":
    "framework": "pyvista"
    "layout": "norm_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Losses"
        "legend": "El. Losses [W/cm3]"
        "var": "P_c"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"P_m_norm":
    "framework": "pyvista"
    "layout": "norm_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Losses"
        "legend": "Mag. Losses [W/cm3]"
        "var": "P_m"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"J_c_norm":
    "framework": "pyvista"
    "layout": "norm_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Current Density"
        "legend": "Current Density [A/mm2]"
        "var": "J_c"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"J_c_vec":
    "framework": "pyvista"
    "layout": "arrow_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Current Density"
        "legend": "Current Density [A/mm2]"
        "var": "J_c"
        "phase": 0.0
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "arrow_threshold": 0.01
        "arrow_scale": 0.75
"B_m_norm":
    "framework": "pyvista"
    "layout": "norm_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Flux Density"
        "legend": "Flux Density [mT]"
        "var": "B_m"
        "scale": 1.0e+3
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"B_m_vec":
    "framework": "pyvista"
    "layout": "arrow_voxel"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Flux Density"
        "legend": "Flux Density [mT]"
        "var": "B_m"
        "phase": 0.0
        "scale": 1.0e+3
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "arrow_threshold": 0.01
        "arrow_scale": 0.75
"H_p_norm":
    "framework": "pyvista"
    "layout": "norm_point"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Field Norm"
        "legend": "Mag. Field Norm [A/m]"
        "var": "H_p"
        "scale": 1.0
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "point_size": 10.0
"H_p_vec":
    "framework": "pyvista"
    "layout": "arrow_point"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Field"
        "legend": "Mag. Field [A/m]"
        "var": "H_p"
        "phase": 0.0
        "scale": 1.0
        "log": false
        "color_lim": null
        "clamp_lim": null
        "filter_lim": null
        "arrow_threshold": 0.01
        "arrow_scale": 3.0
"convergence":
    "framework": "matplotlib"
    "layout": "convergence"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_matplotlib.yaml
    "data_plot":
        "title": "Convergence"
        "color_active": "red"
        "color_reactive": "blue"
        "marker": 8.0
        "width": 2.0
"residuum":
    "framework": "matplotlib"
    "layout": "residuum"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_matplotlib.yaml
    "data_plot":
        "title": "Residuum"
        "bar_color": "blue"
        "edge_color": "black"
        "tol_bins": 0.05
        "n_bins": 10
