# PyPEEC options for the plotter renderings.
#
# A plot is described with a dictionary with the following fields:
#   - framework: framework used for the rendering ("pyvista" or "matplotlib")
#   - layout: string describing the plot type
#   - title: title of the plot window
#   - data_window: dictionary describing the plot window
#   - data_options: dictionary describing the plot options
#   - data_plot: dictionary describing the plot content
#
# For the plotter, the following types of plots are available:
#
#   - "material": plot the different materials composing the voxel structures
#       - title: title located at the corner of the plot
#       - color_electric: color of the electric domains
#       - color_magnetic: "color of the magnetic domains
#       - color_current_source: "color of the current source domains"
#       - color_voltage_source: color of the voltage source domains
#
#   - "scalar_voxel": plot a scalar variable on the voxel structure
#   - "scalar_point": plot a scalar variable on the point cloud
#       - title: title located at the corner of the plot
#       - legend: legend of variable being shown with the color axis
#       - var: name of the scalar variable to be plotted (color scale)
#       - scale: scaling of the variable (scaling done just before plotting)
#       - log: use (or not) a log scale for the color axis
#       - color_lim: clamping range for the color axis (null for complete range)
#       - filter_lim: hide voxels/points with values outside this range (null for complete range)
#       - point_size: size of the marker used for plotting on the point cloud
#
#   - "arrow_voxel": plot a vector variable on the voxel structure (arrow plot)
#   - "arrow_voxel": plot a vector variable on the point cloud (arrow plot)
#       - title: title located at the corner of the plot
#       - legend: legend of variable being shown with the color axis
#       - var_scalar: name of the scalar variable to be plotted (arrow color)
#       - var_vector: name of the vector variable to be plotted (arrow direction)
#       - scale: scaling of the scalar variable (scaling done just before plotting)
#       - log: use (or not) a log scale for the color axis
#       - color_lim: clamping range for the color axis (null for complete range)
#       - filter_lim: hide arrows with scalar values outside this range (null for complete range)
#       - arrow_threshold: relative threshold for hiding arrows with small scalar values
#       - arrow_scale: relative arrow length (with respect to the voxel size)
#
#   - "convergence": plot the convergence of the iterative matrix solver
#       - color_active: color of the plot for the active power
#       - color_reactive: color of the plot for the reactive power
#       - marker: marker shape
#
#   - "convergence": plot the solver residuum (histogram)
#       - n_bins: number of bins
#       - tol_bins: relative tolerance for the bin boundaries
#       - bar_color: fill color of the bins
#       - edge_color: "edge color of the bins
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

"material":
    "framework": "pyvista"
    "layout": "material"
    "title": "Material"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Material"
        "color_electric": "darkorange"
        "color_magnetic": "gainsboro"
        "color_current_source": "forestgreen"
        "color_voltage_source": "royalblue"
"V_c_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "El. Potential"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Potential"
        "legend": "El. Potential [V]"
        "var": "V_c_abs"
        "scale": 1.0
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"V_m_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "Mag. Potential"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Potential"
        "legend": "Mag. Potential [A]"
        "var": "V_m_abs"
        "scale": 1.0
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"S_c_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "El. Source"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Source"
        "legend": "El. Source [A/mm3]"
        "var": "S_c_abs"
        "scale": 1.0e-9
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"Q_m_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "Mag. Source"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Source"
        "legend": "Mag. Source [mT/mm]"
        "var": "Q_m_abs"
        "scale": 1.0
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"P_c_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "El. Losses"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "El. Losses"
        "legend": "El. Losses [W/cm3]"
        "var": "P_c_abs"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"P_m_abs":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "Mag. Losses"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Losses"
        "legend": "Mag. Losses [W/cm3]"
        "var": "P_m_abs"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"J_c_norm":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "Current"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Current"
        "legend": "Current [A/mm2]"
        "var": "J_c_norm"
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"J_c_vec":
    "framework": "pyvista"
    "layout": "arrow_voxel"
    "title": "Current"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Current"
        "legend": "Current [A/mm2]"
        "var": "J_c_vec"
        "phase": 0.0
        "scale": 1.0e-6
        "log": false
        "color_lim": null
        "filter_lim": null
        "arrow_threshold": 1.0e-3
        "arrow_scale": 0.75
"B_m_norm":
    "framework": "pyvista"
    "layout": "scalar_voxel"
    "title": "Flux Density"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Flux Density"
        "legend": "Flux Density [mT]"
        "var": "B_m_norm"
        "scale": 1.0e+3
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"B_m_vec":
    "framework": "pyvista"
    "layout": "arrow_voxel"
    "title": "Flux Density"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Flux Density"
        "legend": "Flux Density [mT]"
        "var": "B_m_vec"
        "phase": 0.0
        "scale": 1.0e+3
        "log": false
        "color_lim": null
        "filter_lim": null
        "arrow_threshold": 1.0e-3
        "arrow_scale": 0.75
"H_norm":
    "framework": "pyvista"
    "layout": "scalar_point"
    "title": "Mag. Field Norm"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Field Norm"
        "legend": "Mag. Field Norm [A/m]"
        "var": "H_norm"
        "scale": 1.0
        "log": false
        "color_lim": null
        "filter_lim": null
        "point_size": 10.0
"H_vec":
    "framework": "pyvista"
    "layout": "arrow_point"
    "title": "Mag. Field"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_pyvista.yaml
    "data_plot":
        "title": "Mag. Field"
        "legend": "Mag. Field [A/m]"
        "var": "H_vec"
        "phase": 0.0
        "scale": 1.0
        "log": false
        "color_lim": null
        "filter_lim": null
        "arrow_threshold": 1.0e-3
        "arrow_scale": 0.75
"convergence":
    "framework": "matplotlib"
    "layout": "convergence"
    "title": "Convergence"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_matplotlib.yaml
    "data_plot":
        "color_active": "red"
        "color_reactive": "blue"
        "marker": 8.0
        "width": 2.0
"residuum":
    "framework": "matplotlib"
    "layout": "residuum"
    "title": "Residuum"
    "data_window": !include cfg_data_window.yaml
    "data_options": !include cfg_data_matplotlib.yaml
    "data_plot":
        "n_bins": 10
        "tol_bins": 0.05
        "bar_color": "blue"
        "edge_color": "black"
