# Definition of the Python virtual environment (pinned versions).
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

# logging and serialization
scilogger==1.2.5
scisave==1.6.0

# numerical libraries
numpy==2.3.5
scipy==1.16.3
joblib==1.5.2

# geometry libraries
vtk==9.5.2
pyvista==0.46.4
shapely==2.1.2
rasterio==1.4.3
pillow==12.0.0
matplotlib==3.10.8

# interface libraries
qtpy==2.4.3
pyside6==6.9.3
pyvistaqt==0.11.3
