# Definition of the Python virtual environment (pinned versions).
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

# logging and serialization
scilogger==1.2.5
scisave==1.6.0

# numerical libraries
numpy==2.3.1
scipy==1.16.0
joblib==1.5.1

# geometry libraries
vtk==9.4.2
pyvista==0.45.3
shapely==2.1.1
rasterio==1.4.3
pillow==11.3.0
matplotlib==3.10.3

# interface libraries
qtpy==2.4.2
pyside6==6.9.1
pyvistaqt==0.11.2
