# Run the "Standard tests" with the following conditions.
#   - push (all)
#   - pull request
#   - dispatch
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

name: Run Hook Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  default:
    runs-on: "ubuntu-latest"
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install --requirement requirements.txt
      - name: Run the tests
        shell: bash -el {0}
        run: |
          ./scripts/run_tests.sh
